$medium-width: 768px;
$large-width: 1024px;
$max-width: 1360px;

$light: #fafafa;
$darker-light: #f1f1f1;
$dark: #121f26;

$accent: #ffc146;
$accent-2: #009FDB;

$border-radius: 3px;

$colors: (
  'light': $darker-light,
  'dark': $dark,
  'accent': $accent,
  'accent-2': $accent-2
);
